table, tr, th, td {
  border: 0;
}

body {
  width:90%;
}

th {
  vertical-align:top;
}

td {
    padding:5px;
    margin-bottom:1em;
}

th {
  text-align:left;
  padding-right:2em;
}

ul {
   margin:0;
}
